<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>My Details</title>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light" class="navbar navbar-light" style="background-color: #e9ac7a;">
        <a class="navbar-brand" href="#" style="color: #2c2a80;"><b>JSSSTU</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home" style="color: #2c2a80;">Home page<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help" style="color: #2c2a80;">Help</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/" style="color: #2c2a80;">Logout</a>
                </li>
             </ul>

        </div>
    </nav>

    <form method="post" action="/details" >
        <table class="table table-hover" class="table">
            <thead>
                <tr>
                    <th scope="col">Company Name</th>
                    <th scope="col">Test Date </th>
                    <th scope="col">Status </th>
                    
                </tr>
            </thead>
            <tbody>
                <% if(items.length > 0){ %>
                    <%   for(var i = 0;i < items.length;i++) { %>
                    <tr>
                    <td><%= items[i].c_name %></td>
                    <td><%= items[i].test_date %></td>
                    <td><%= items[i].result_status %></td>
                    
                    </tr>
                      <% } %>
                  <% }  %>
              
            </tbody>
        </table>
        </form>


  






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
<div class="col-sm-12 col-xs-12 text-center">© Copyright JSS STU 2021. </div>

</html>