<!doctype html>
<html lang="en">
    <style>
        .one {
            color: aqua;
            transition: color 0.2s;
            margin: 30px 30px;
            font-size: 50px;
            text-decoration: none;


        }

        .two {
            color: rgb(172, 23, 23);
            transition: color 0.2s;
            margin: 30px 30px;
            font-size: 50px;
            text-decoration: none;

        }

        .three {
            color: rgb(79, 126, 214);
            transition: color 0.2s;
            margin: 30px 30px;
            font-size: 50px;

            text-decoration: none;

        }

        .four {
            color: rgb(216, 161, 22);
            transition: color 0.2s;
            margin: 30px 30px;
            font-size: 50px;
            text-decoration: none;

        }

        .five {
            color: rgb(98, 180, 98);
            transition: color 0.2s;
            margin: 30px 30px;
            font-size: 50px;
            text-decoration: none;

        }
        .footer {
        position:fixed;
        bottom:0;
        width:100%;
        height:30px;   /* Height of the footer */
        padding: 10px 10px 0px 10px;
        text-align:center;
}
    </style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    



</head>

<body>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <nav class="navbar navbar-expand-lg navbar-light" class="navbar navbar-light" style="background-color: #c4edf5;">
        <a class="navbar-brand" ><b>JSSSTU</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/details">My details<span class="sr-only">(current)</span></a>
                </li>
               

                <li class="nav-item">
                    <a class="nav-link" href="/">Logout</a>
                </li>



            </ul>

            



        </div>
    </nav>


    <div id="primary" class="content-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-12">
                    <main id="main" class="site-main">
                        <article id="post-1111" class="post-1111 page type-page status-publish hentry">
                            <div class="entry-content">
                                <div class="vc_row wpb_row vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner vc_custom_1509100691886">
                                            <div class="wpb_wrapper">
                                                <div class="rt-vc-contact-1 ">
                                                    <ul class="rtin-item">
                                                        <li>
                                                            <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                                                            <h3>Address</h3>
                                                            <p>JSS TI Campus, Mysuru 570006</p>
                                                        </li>
                                                        <li>
                                                            <i class="far fa-envelope" aria-hidden="true"></i>
                                                            <h3>E-mail:Dr. Pradeep Manjunath, Training & Placement Officer</h3>
                                                            <p>placement@sjce.ac.in</p>
                                                        </li>

                                                        <li>
                                                            <i class="fas fa-phone" aria-hidden="true"></i>
                                                            <h3>Phone</h3>
                                                            <p>0821-2548285/86/87</p>
                                                        </li>
                                                        <li>
                                                            <h3>Find Us On</h3>
                                                            <ul class="contact-social">
                                                                <a class="one" target="_blank"
                                                                    href="https://www.facebook.com/JSSSTUNIV/">
                                                                    <ion-icon name="logo-facebook"></ion-icon>
                                                                </a>
                                                                <a class="two" target="_blank"
                                                                    href="https://twitter.com/jssstuniv">
                                                                    <ion-icon name="logo-twitter"></ion-icon>
                                                                </a>
                                                                <a class="three" target="_blank"
                                                                    href="https://www.linkedin.com/school/jss-science-and-technology-university/"><i
                                                                        class="fab fa-linkedin-in">
                                                                        <ion-icon name="logo-linkedin"></ion-icon>
                                                                </a>
                                                                <a class="four" target="_blank"
                                                                    href="https://www.youtube.com/channel/UCQxvuSKHiwlSzXpQX2rSRDw"><i
                                                                        class="fab fa-linkedin-in">
                                                                        <ion-icon name="logo-youtube"></ion-icon>
                                                                </a>
                                                                <a class="five" target="_blank"
                                                                    href="https://www.instagram.com/jssstunivofficial/">
                                                                    <ion-icon name="logo-instagram"></ion-icon>
                                                                </a>
                                                            </ul>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Optional JavaScript -->
                                    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                                        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                                        crossorigin="anonymous"></script>
                                    <script
                                        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                                        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                                        crossorigin="anonymous"></script>
                                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                                        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                                        crossorigin="anonymous"></script>
</body>

<div class="footer" class="col-sm-12 col-xs-12 text-center">© Copyright JSS STU 2021. </div>

</html>